

.slide-container{
  
    padding: 0 6em;

}

.slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.slider{
    justify-content: center;
}



.slider-medium{
    max-width: 29rem;
    width : 100%;
    height : 50%;
}




.slider-card{
    border: 0.1rem #c0c0c0 solid;
    width: 75%;
    border-radius: 0.3rem;
    margin: 1rem;
}

.slider-card-body{
    padding: 1rem;
}

.slider-card-body > * {
    margin-bottom: 0.5rem;
}

.slider-card-body h2{
    padding: 1rem 0;
    font-size: 0.9rem;
}

.slider-price{
    font-size: 0.9rem;
}

/* slider-Rating */
.slider-rating span{
color:#f0c040;
margin : 0.1rem;

}
